* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display:flex;
    
}

.game-board {
    width: 720px;
    height: 640px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
}

.game-card {
    width: 14.5%;
    height: 33.33%;
    margin: 5px;
    position: relative;
}

.front, 
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
}