@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body / Background Image */

body {
    height: 100vh;
    display: flex;
    background: url(../img/14893.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
}

.background-img {
    background-image: url(../img/cute-little-dog-isolated-yellow.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 12vh;
}

/* Overlay Text */

.overlay-text {
    font-size: 6em;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: "Architects Daughter",sans-serif;

}

.overlay-text.visible {
    text-align: center;
    color:#ffc107;
    display:flex;
    font-size: 6em;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
    }
  }

.overlay-text-small {
    font-size: 0.5em;
    color: red;
}

/* Front Page  */

.titlecenter {
    font-family: "Architects Daughter",sans-serif;
    position: relative;
    text-align: center;
    padding-top: 30vh;
}

.title-homepage {
    font-family: "Architects Daughter",sans-serif;
    font-size: 12vh;
    text-align: center;
    
}

/* Back button, Reset button, Start button */

#buttons {
    font-family: "Architects Daughter",sans-serif;
    position: absolute;
    text-align: center;
    margin-top:70px;
    margin-bottom: 30px;
    width: auto;
}

#buttons .button{
    text-transform: uppercase;
    font-size: 4vh;
	background: #ffffff;
	cursor: pointer;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    color:black;
    font-weight: 900;
    background-color: #afafaf;
}

#buttons .button:hover{
    background-color: blue;
    color:white;
}

.game-button{
    position: relative;
}

.game-button a {
    text-decoration: none;
    color: red;
    width: 100vw;
    text-align: center;
    position: absolute;
    font-family: "Architects Daughter",sans-serif;
    font-size: 5vw;
}

.start-button {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.back-button{
    background-color: #afafaf;
    font-size: 5vh;
    color: black;
    font-family: "Architects Daughter",sans-serif;
    margin-right: 0;
    border-radius: 4px;
    position: absolute;
    text-decoration: none;
    margin-left: 2px;
    margin-top: 2px;
}


.back-button:hover {
   background-color: blue;
   text-decoration: none;
   color: white;
}
/*  Game Board and Card  */

.game-board {
    position: relative;
    width: 900px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    justify-content: center;
}

.game-card {
    z-index: 1;
    justify-content: center;
    float: left;
	width: 150px;
	height: 100px;
    margin: 10px;
	border: 4px solid black;
	cursor: pointer;
    background-size: cover;   
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.game-card:active {
    transform: scale(.95);
    transition: transform .3s;
}


.front, 
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

/* Social Links */

.social-links {
    position: absolute;
    left: 22vh;
    font-family: "Architects Daughter",sans-serif;
}

.social-links a {
    text-decoration: none;
    padding: 1px;
}


/* Media Queries */

@media screen and (max-width:1400px) {
    .game-board {
        margin-top: 130px;
    }
    .thebuttons {
        margin-top: 10px;
    }
}

@media screen and (max-width:400px) {
    .game-card {
        width: 115px;
    }
}

@media screen and (max-width: 700px) {
    .overlay-text.visible {
        font-size: 4em;
    }
}
