* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display:flex;
    
}

.game-board {
    width: 720px;
    height: 640px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
}

.game-card {
    width: 14.5%;
    height: 33.33%;
    margin: 5px;
    position: relative;
    transform: scale(1);
}

.game-card.flip {
    transform: rotateY(180deg);
}

.game-card:active {
    transform: scale(.95);
    transition: transform .3s;
}

.front, 
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
}
